*{
    margin: 0;  
    padding: 0;
}

header{
    background: url(../Assets/header-bg.jpg) ;
    margin-top: -18px;
    padding-top: 5px;
    Font-size: 25px;
}

.title{
    font-family: 'Ruthie', cursive;
    text-align: center;
    color: white;
    margin-bottom: 50px;
}

.navigation ul, .navigation a{
    display: flex;
    text-decoration: none;
    list-style: none;
    margin: 0 auto;
   
}
.navigation{
    margin: 0 auto;
    width: 75%;
    backdrop-filter: blur(4px);
}

.navigation img{
    display: none;
}

.navigation li{
    margin: auto;
    width: fit-content;
    padding: 5px;
}

.nav{
    font-family: 'Risque', cursive;
    color: white;
}

.navigation a:hover{
    color: rgb(227, 11, 255);

}

.container{
    display: flex;
    background-image: linear-gradient( rgba(24, 5, 21, 0.5), rgba(0, 0, 0, 0.5) ),url(../Assets/diagonal-stripes.svg);
    padding: 0 10%;
}
.content_container{
    margin: 15px auto;
    text-align: center;
    display: block;
    width: 1000px;
    border: 2px solid rgb(49, 49, 49);
}

.lastest-recipes{
    font-family: 'Love Ya Like A Sister', cursive;
    font-size: 64px;
    font-weight: normal;
    background-color: black;
    color: white;
    
}

.mainlist{
    display: flex;
    padding-top: 20px;
    background-color: rgb(249, 205, 255);
    
}

.mainlist h1{
    font-size: 20px;
    display: block;
}


.mainlist img{
    min-width: 150px;
    min-height: 150px;
    padding-left: 2px;
    height: 150px;
}

.mainlist div{
    text-align: left;
    padding: 0 10px;
    display: block;
}

.mainlist div p{
    min-height: 75px;
    max-height: 75px;
}

.categorie_tag{
    text-decoration: none;
    color:rgb(255, 255, 255);
    background: grey;
    font-size: 12px;
    margin: 5px 2px;
    padding: 0 2px;
}

.sidelist{
    display: flex;
    padding-top: 20px;
    background-color: rgb(249, 205, 255);
    
}

.sidelist img{
    min-width: 100px;
    min-height: 100px;
    height: 100px;
}
.sidelist div p{
    max-height: 55px;
    min-height: 55px;
    overflow-y: hidden;
}

.side_container{
    
    position: relative;
    margin: 5em 2em;
    width: 600px;
   
}

.more-recipes{
    font-family: 'Over the Rainbow', cursive;
    font-size: 24px;
    font-weight: normal;
    background-color: black;
    color: white;    
    text-align: center;
    
}

.footer{

    bottom: 0;
    width: 100%;
    background: #491860;
    text-align: center;
    

}

.footer h3{
    color: white;
}

.smicon{
    max-width: 50px;
}



